.creditstory
    .bottom-text
        span
            color: $DarkedMain

@media(max-width: 1000px)
    .creditstory
        .c-card
            margin-bottom: $basePadding * 2
        .bottom *
            align-items: center
            justify-content: center
            text-align: center