.creditstory
    .action
        span 
            color: $White 
            font-weight: 400
    .bottom
        .bottom-text
            p
                color: $LightedBlack
                width: 67%
                font-size: 12px
            span
                color: $DarkedMain

@media(max-width: 1000px)
    .creditstory
