.footer
    background: var(--bg-pic)
    background-size: cover
    padding: 50px 0px 60px

    &__title
        color: $White
        max-width: 450px


    &__top
        margin-bottom: 70px

    &__bottom
        span
            color: $White
            margin-left: 10px
        &-social

            background: $White
            border-radius: 13px
            padding: 10px

            a:not(:last-child)
                margin-right: 10px
            a
                display: flex
                align-items: center
                justify-content: center
                width: 40px
                height: 40px
                background: $Main
                border-radius: 10px

            img
                width: auto
                height: auto

    &__menu
        display: grid
        grid-template-columns: 1fr 1fr 
        column-gap: 100px
        row-gap: 20px
        padding-right: 50px

        a
            flex-basis: 50%
            color: $White


    @media(max-width: 1000px)
        &__top
            flex-direction: column
            margin-bottom: 10px !important

        &__menu
            grid-template-columns: 1fr !important
            gap: 20px
            padding: 0

        &__logo
            max-width: 156px
            margin-right: auto

        &__bottom
            flex-direction: column-reverse
            align-items: center
            gap: 50px

            &-social
                gap: 16px
                margin-top: 0px !important
                margin-bottom: 10px !important

            div
                justify-content: flex-start
                width: fit-content
        &__title
            margin-bottom: 50px