.help
    .container
        gap: 80px

    &__img
        max-width: 579px
        margin-left: -56px

    &__content
        max-width: 545px

    &__title
        font-size: 42px
        line-height: 51px
        margin-bottom: 20px
        color: var(--dark-green)

        b
            color: var(--light-green)
    
    &__desc
        margin-bottom: 40px
        font-size: 16px
        line-height: 19px
        color: var(--gray)
        max-width: 409px

    @media(max-width: 1000px)
        .container
            flex-direction: column
            gap: 40px
        
        &__img
            margin: 0 auto

        &__title
            font-size: 28px
            line-height: 34px
        &__desc
            font-size: 14px
            line-height: 17px