.hero
    // background: var(--bg-pic)
    background-size: cover
    span
        font-size: $baseFontSize * 3.5
        background: $White
        color: $DarkedMain
        padding: 0 30px
        margin-left: -30px
        border-radius: 110px
        white-space: nowrap

    &__title
        color: $White !important
        margin-bottom: 10px
        font-weight: 400
        line-height: 1

    h3
        margin-top: 15px
        margin-bottom: 34px
        color: $White

    .container
        padding: 80px 20px 230px 120px

    @media(max-width: 800px)
        .container
            padding: 40px 20px 320px
            span
                padding: 0 20px
                margin-left: -15px