.partners 
	display: flex
	justify-content: center
	flex-direction: column
	margin-top: 50px
	margin-bottom: 50px

	.title_partners 
		display: flex
		align-items: center
		flex-direction: column
		margin-bottom: 150px

		.text_partners 
			margin-bottom: 20px
			font-style: normal
			font-weight: 200
			font-size: 32px
			line-height: 39px
			text-align: center
			color: #164629

			span 
				color: #35C759
				font-style: normal
				font-weight: bold



		p 
			max-width: 420px
			font-style: normal
			font-weight: 200
			font-size: 16px
			line-height: 19px
			text-align: center
			color: #5B5B5B



	.sliders_partners 
		display: flex
		flex-direction: column
		height: 100%
		margin: auto
		overflow: hidden
		position: relative
		width: 100vw

		.slider_track 
			margin-bottom: 70px
			animation: scroll 40s alternate linear infinite
			display: flex
			align-items: center
			width: calc(250px * 14) !important

			.slide 
				// height: 100px
				margin: 0 50px
				width: 250px !important
