
$Background: #F4F5F9
$Main: #35C759
$DarkedMain: #164629
$LightedMain: #AEDD9B
$White: #ffffff
$Gray: #E2EAF5
$Black: #000000
$LightedBlack: #5B5B5B
$Gradient: linear-gradient(133.66deg, $LightedMain -10%, $DarkedMain 110%)

$baseRadius: 40px

$basePadding: 20px
$sizeSRate: 0.5
$sizeMRate: 2
$sizeLRate: 4
$mobileRate: 1

$containerWidth: 1440px

$baseFontSize: 16px
$h1Resize: 3
$h2Resize: 2.5
$h3Resize: 1.5
$h4Resize: 1
$aResize: 1
$pResize: 1
$btnResize: 1
